@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    scroll-behavior: smooth;
}
li,a,button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content : flex-end;
    align-items: center;
    padding: 20px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    width:60px;
}

.navLinks{
   list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 10px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #0088a9;
}

nav a.active{
    color: #0ef;
}

.About{
    max-height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #edf0f1;
    text-align: center;
    padding: 40px 10%;
    font-family: 'Montserrat', sans-serif;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

/* Sections styling */
section{
    min-height: 80vh;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

.animationContainer{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 150px;
    overflow: hidden;
    mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
    );
}
.thirdContainer{
    margin-bottom: 0;
}

.Item{
    width: 250px;
    height: 125px;
    background-color: #323946;
    border-radius: 6px;
    position: absolute;
    left: max(calc(250px * 5),100%);
    animation: scrollLeft 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.Item p{
    font-size: 16px;
    background-color: #323946;
}

.item1{
    animation-delay: calc(20s/5*( 5 - 1) *-1 );
}

.Item:hover{
    transform: scale(1.2);
}

.item2{
    animation-delay: calc(20s/5*(5 - 2) *-1)
}

.item3{
    animation-delay: calc(20s/5*( 5 - 3) *-1)
}

.item4{
    animation-delay: calc(20s/5*( 5 - 4)*-1)
}


.item5{
    animation-delay: calc(20s/5*( 5 - 5)*-1)
}

.item12{
    animation-delay: calc(20s/5*( 5 - 1.5) *-1 );
}
.item22{
    animation-delay: calc(20s/5*( 5 - 2.5) *-1 );
}
.item32{
    animation-delay: calc(20s/5*( 5 - 3.5) *-1 );
}
.item42{
    animation-delay: calc(20s/5*( 5 - 4.5) *-1 );
}
.item52{
    animation-delay: calc(20s/5*( 5 - 0.5) *-1 );
}



/*Animation*/
@keyframes scrollLeft{
    to{
        left: -200px;
    }
}

section:nth-child(odd){
    background-color: #323946;
}

/*Footer style beginning*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: #edf0f1;
    text-align: center;
    padding: 40px 10%;
    border-top: 1px solid #edf0f1;
    font-family: 'Montserrat', sans-serif;
}
.footer_content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    min-height: 90%;
    background-color: #24252A;
    padding: 20px ;
    margin-right:auto;
}
.footer_logo{
    height: 150px;
    width: 200px;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social_media i {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.footer_content2{
    padding: 46.6px;
    width: 400px;
    min-height: 90%;
    background-color: #24252A;
    margin-right:auto;
}

.footer_content2_location{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
.UsefulLink{
    padding:10px;
    display: block;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 20px;
}
.nav_div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #24252A;
    padding: 15px;
    margin-bottom: 20px;
}
.link{
    margin-right: auto;
    font-size: 26px;
}
.line{
    border-top: 1px solid deepskyblue ;
    width: 100%;
}
.Nav ul{
    list-style: none;
    align-items: flex-start;
    margin-right:10px;
}
.Nav ul li {
    margin-top: 10px;
    align-items: flex-start;
}
.Nav ul li a{
    font-size: 16px;
    color: #edf0f1;
}

.footer_content3{
    padding: 46px;
    width: 400px;
    min-height: 90%;
    background-color: #24252A;
    margin-right:auto;
}
.footer_content3_location{
    margin-bottom: 26px;
}
.Subscribe{
    padding:10px;
    display: block;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 10px;
}
.button p{
    font-size: 20px;
    margin-top: 25px;
}

.btn{
    background-color: #0088a9;
    color: #fff;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 40px;
    width: 100px;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.inputField{
    border-radius: 50px;
    padding-left: 20px;
    background-color: #323946;
    color: #edf0f1;
    border: none;
    height: 40px;
    width: 200px;
}